<h4>Студент 221 группы Осинкин Роман Максимович</h4>
<p>Учусь в СГУ с 2018 года. Этот сайт создан с целью объяснения на его примере
основных принципов и практик работы с фреймворком Ruby on Rails.</p>
